{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info">
            
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
	            Web design by Avid Creative, Inc.
            </article>
           
            <article class="footer-info-col footer-contact footer-info-col--small">
                <p><strong>ADDITIVE TECHNOLOGIES, LLC</strong><br>1515&nbsp;W. 2200 S.,&nbsp;Suite C&nbsp; &nbsp; &nbsp;Salt Lake City, UT 84119 <br>Tel: (801) 972-0732 &nbsp; &nbsp;Fax (801) 240-0217</p>
            </article>

            <article class="footer-info-col footer-info-col--small">
	            <div class="footer-icons">
            <a class="footicon" target="_blank" href="mailto:info@additivetech.com" uk-icon="icon: mail; ratio: 1;"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="mail"><polyline fill="none" stroke="rgba(255,255,255,.5)" stroke-width="1" points="1.4,6.5 10,11 18.6,6.5"></polyline> <path fill="none" stroke="rgba(255,255,255,.5)" stroke-width="1" d="M 1,4 1,16 19,16 19,4 1,4 Z M 18,15 2,15 2,5 18,5 18,15 Z"></path></svg></a>
            
            <a class="footicon" target="_blank" href="tel:801-972-0732" uk-icon="icon: receiver; ratio: 1;"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="receiver"><path fill="none" stroke="rgba(255,255,255,.5)" stroke-width="1" d="M6.189,13.611C8.134,15.525 11.097,18.239 13.867,18.257C16.47,18.275 18.2,16.241 18.2,16.241L14.509,12.551L11.539,13.639L6.189,8.29L7.313,5.355L3.76,1.8C3.76,1.8 1.732,3.537 1.7,6.092C1.667,8.809 4.347,11.738 6.189,13.611"></path></svg></a>
        </div>
                {{> components/common/payment-icons}}
            </article>
        </section>
        
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
      
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
            </div>
        {{/if}}
    </div>
</footer>
