    @font-face {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/font-c6055aae.woff2") format("woff2"),
            url("../fonts/font-af864012.woff") format("woff");
    }

    @font-face {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 500;
        src: url("../fonts/font-7d21879f.woff2") format("woff2"),
            url("../fonts/font-64bbff90.woff") format("woff");
    }
    
    @font-face {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 600;
        src: url("../fonts/font-e987793d.woff2") format("woff2"),
            url("../fonts/font-a67ed919.woff") format("woff");
    }